### basic ###
.venv/*
.idea/.name
.idea/inspectionProfiles/*
.idea/dataSources.xml
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.python-version
tests/extract_files

### airflow ###
airflow/airflow
airflow/airflow.cfg
airflow/airflow.db
airflow/airflow-*
airflow/webserver_config.py
