### basic ###
.venv/*
.idea/.name
.idea/inspectionProfiles/*
.idea/dataSources.xml
.idea/.gitignore
.idea/misc.xml
.python-version

### airflow ###
airflow/airflow
airflow/airflow.cfg
airflow/airflow.db
airflow/airflow-*
airflow/webserver_config.py
