### basic ###
.venv/*
.idea/.name
.idea/inspectionProfiles/*
.idea/dataSources.xml
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.python-version
src/config/config.py
*/__init__.py

### airflow ###
airflow/airflow
airflow/airflow.cfg
airflow/airflow.db
airflow/airflow-*
airflow/webserver_config.py

###test files###
tests/extract_files
src/tmp_files